
.recommended-friends {
    margin: 25px 0px;
    padding: 25px 0px;
    border-top: var(--main-border);
    border-bottom: var(--main-border);
}

.recommended-friends__title {
    font-size: 14px;
    color: var(--gray);
}

.recommended-friends span {
    display: block;
    margin: 100px 0px;
    text-align: center;
    color: var(--gray);
}

.open-chat__header {
    display: flex;
    justify-content: space-between;
    opacity: 0.8;
    margin-bottom: 25px;
}
.open-chat__header span {
    color: var(--gray);
}

.open-post {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.open-post__title {
    font-weight: 600;
    margin-bottom: 10px;
}
.open-post__hashtags {
    text-transform: uppercase;
    opacity: 0.6;
}
.open-post__members {
    display: flex;
    align-items: center;
    margin-top: 5px;
    font-size: 12px;
    
}
.open-post__members img {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 3px;
}
.open-post__member-count {
    color: var(--gray);
    margin-right: 3px;
}
.open-post__members .divider {
    width: 1px;
    height: 15px;
    background-color: var(--gray);
    margin: 0px 5px;
}
.open-post__member-status {
    color:#ffb0e0;
}
.open-post__photo {
    position: relative;
}
.open-post__photo img {
    width: 80px;
    height: 80px;
    border-radius: 10px;
}
.open-post__heart-count {
    background-color: rgba(0,0,0,0.9);
    color: white;
    padding: 3px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 12px;
}
.open-post__heart-count span {
    margin-left: 5px;
}

@keyframes heartBeat {
    0%{
        color: white;
    }
    50%{
        color: tomato;
        transform: scale(1.1);
    }
    100%{
        color: white;
    }
}

.open-post__heart-count:hover {
    will-change: transform;
    animation: heartBeat 2s linear infinite ;
}